<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--<header class="header">
    <span class="f1"><i class="yo-ico" style="color: #c1e2b3">&#xe790;</i></span>
    <ul>
        <li class="lis">热点</li>
        <li>关注</li>
    </ul>
    <span class="f2"><i class="yo-ico" style="color: #c1e2b3">&#xe7ad;</i></span>
</header>

<section ui-view=""></section>-->
<div ui-view=""></div>
<footer class="footer">
    <dl class="active" ui-sref-active="active" ui-sref="home.idx">
        <dt><i class="yo-ico" style="font-size: 18px">&#xe750;</i></dt>
        <dd>首页</dd>
    </dl>
    <dl ui-sref-active="active" ui-sref="home.search">
        <dt><i class="yo-ico" style="font-size: 18px">&#xe752;</i></dt>
        <dd>发现</dd>
    </dl>
    <dl ui-sref-active="active" ui-sref="home.cammer">
        <dt><i class="yo-ico" style="font-size: 30px">&#xe77e;</i></dt>
    </dl>
    <dl ui-sref-active="active" ui-sref="home.user">
        <dt><i class="yo-ico" style="font-size: 18px">&#xe787;</i></dt>
        <dd>我的</dd>
    </dl>
    <dl ui-sref-active="active" ui-sref="home.back">
        <dt><i class="yo-ico" style="font-size: 18px">&#xe734;</i></dt>
        <dd>退出</dd>
    </dl>
</footer>
</body>
</html>